.profits-sales {
  width: 53vw;
  height: 100vh;
  background: white;
  color: black;
  position: relative;
  left: 20%;
  top: 100px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.dropdown-monthly {
  background-color: white !important;
  color: black !important;
  border: none !important;
  z-index: 100;
}

.dropdown-monthly:hover {
  background-color: #e6e6e6 !important;
  color: inherit !important;
}

.dropdown-menuMonthly {
  width: 100px !important;
  min-width: unset !important;
}

.data-align {
  display: flex;
  gap: 40px;
  align-items: center;
}

.data-align h5 {
  font-size: 1rem;
  color: gray;
}

.head-time {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.head-time h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.profit-sales-container {
  display: flex;
  justify-content: space-between;
  background-color: #e5e7eb;
  margin: 0% 3%;
  padding: 20px;
  border-radius: 15px;
}

.overview-data {
  width: auto;
  padding: 10px 30px;
  border-radius: 15px;
  line-height: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.overview-data.active {
  background-color: white; /* Highlighted background */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.data-align-icon {
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(167 243 208);
}
.sales-target {
  width: 23vw;
  height: 28vh;
  background: white;
  color: black;
  position: relative;
  left: 75%;
  top: -595px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.sales-target-drop-div {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.sales-target-drop-div h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.bar-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.span-unit-text {
  line-height: 1rem;
}

.span-unit-text span {
  font-size: 1.8rem;
  font-weight: 700;
}

.progressbar {
  width: 6vw;
}

.top-products {
  width: 23vw;
  height: auto;
  background: white;
  color: black;
  position: relative;
  left: 75%;
  top: -564px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.top-product-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-product-head h4 {
  font-weight: 700;
}

.top-product-head button {
  background-color: white;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 8px;
}

.top-product-list {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.topProduct-img {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topProduct-img img {
  width: 5vw;
  border-radius: 15px;
}

.top-product-names h6 {
  font-weight: 700;
}

.top-product-names p {
  color: grey;
}

.top-product-percent {
  color: green;
  background-color: greenyellow;
  height: 4vh;
  padding: 2px 10px;
  border-radius: 15px;
}

.Recent-orders {
  width: 77.8vw;
  height: auto;
  background: white;
  color: black;
  position: relative;
  left: 19.8%;
  top: -520px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.recent-order-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-order-head h4 {
  font-weight: 700;
}

.recent-order-head button {
  background-color: white;
  border-radius: 15px;
  border: 1px solid grey;
  padding: 10px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table header */
.orders-table th {
  padding: 12px;
  text-align: left;
  background-color: #e5e7eb;
  color: black;
  font-size: 16px;
}

/* Table cell */
.orders-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

/* Hover effect for rows */
.orders-table tr:hover {
  background-color: #f1f1f1;
}
