.profile-form {
  display: flex;
  gap: 30px;
}

.profile-user-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.profile-user-name input {
  width: 25vw;
  height: 7vh;
  border-radius: 10px;
  background-color: #e5e7eb;
}

.admin-profile-section {
  position: absolute;
  left: 40%;
  top: 150px;
}

.profile-button {
  background-color: blue;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 13px;
  margin-top: 20px;
}

.address-info-head {
  margin-top: 20px;
}
