.admin-navbar {
  background-color: white;
  max-width: 100vw;
  width: 82vw;
  height: 10vh;
  margin: 0% 17.9%;
  position: fixed;
  border-left: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  z-index: 1000 !important;
}

.admin-navbar button {
  position: absolute;
  right: 0;
  color: white;
}

.navadmin-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000 !important;
}

.navadmin-icon img {
  border-radius: 50%;
  width: 4vw;
  height: 7vh;
  position: relative;
  right: 70px;
  bottom: 45px;
}

.admin-icon {
  color: #666666;
  font-size: 1.3rem;
}

.search {
  position: relative;
  left: 30px;
}

.gear {
  position: relative;
  left: -100px;
}

.custom-dropdown-toggle::after {
  display: none !important;
}

.custom-dropdown-menu::after {
  position: absolute !important;
  top: 0px !important;
}

.custom-dropdown-toggle {
  width: 0vw;
  height: 0;
  background: transparent !important;
  border: none !important;
}
